<header id="toolbar" class="editor-header">
  <div class="checkbox-group">
    <input type="checkbox" id="toggle-auto-save" class="">
    <label for="toggle-auto-save" class="">Auto Save</label>
  </div>
  <div>
    <%= @name %>
    <div class="document-details">
    <p>Created At: <span><%= @document.created_at.strftime("%B %d, %Y") %></span></p>
    <p>Updated At: <span><%= @document.updated_at.strftime("%B %d, %Y") %></span></p>
    </div>
</header>

<span id="preload-html" style="display: none;">
  <%= @document[:data] %>
</span>

<div
  data-controller="texteditor"
  data-texteditor-id-value="<%= @id %>"
  id="editor"
  class=""
></div>
