<span class="alert success" style="color: green"><%= notice %></span>

<header class="documents-header">
  <h1>Documents</h1>
  <%= link_to "New document", new_document_path, class: "btn tumeric" %>
</header>

<article class="documents-group">
  <section class="documents-section">
    <div id="documents" class="documents-grid">
      <% @documents.each do |document| %>
      <div class="document-wrapper">
        <div class="document-card">
          <h2><%= document.name %></h2>
          <div class="document-details">
            <p class="chip">Created At:</p>
            <p class="value"><%= document.created_at.strftime("%B %d, %Y") %></p>
            <p class="chip">Updated At:</p>
            <p class="value"><%= document.updated_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
        <div class="document-container">
          <%= link_to "Show", document, class: "btn cadet-blue" %>
          <%= link_to 'Show =>', document_path(document), data: { turbo_frame: 'show_document' }, class: "btn md-gray" %>
        </div>

      </div>
      <% end %>
    </div>
  </section>

  <aside class="document-aside">
    <div class="padding-1">
      <turbo-frame id="show_document"></turbo-frame>
    </div>
  </aside>
</article>
