<span class="alert success" style="color: green"><%= notice %></span>

<header class="documents-header">
  <h1>Documents</h1>
  <%= link_to "New document", new_document_path, class: "btn tumeric" %>
</header>

<section class="documents-section">
  <div id="documents">
    <% @documents.each do |document| %>
    <div class="document-wrapper">
      <div class="document-card">
        <h2><%= document.name %></h2>
        <div class="document-preview"><%= sanitize document[:data] %></div>
        <div class="document-details">
          <p>Created At: <span><%= document.created_at.strftime("%B %d, %Y") %></span></p>
          <p>Updated At: <span><%= document.updated_at.strftime("%B %d, %Y") %></span></p>
        </div>
      </div>
      <%= link_to "Show this document", document, class: "btn cadet-blue" %>
    </div>
    <% end %>
  </div>
</section>
