<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestbench</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- UI framework import -->
    <link rel="stylesheet" href="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.css">
    <script type="module" src="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.esm.js"></script>
    <script nomodule src="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.js"></script>
    <!-- End UI framework import -->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
