<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestbench</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>


    <script type="module" src="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.esm.js"></script>
    <script nomodule src="https://cs-cdn.realpage.com/RAUL/raul3/0.36.2/raul/raul.js"></script>
    
    <%= javascript_importmap_tags %>
    
    <%= yield :page_specific_javascript %>
s

  </body>
</html>
